variable open equal {openMark}

variable run_time_init equal 5
variable run_time_main equal 10
variable status_output equal 1e-3
variable data_output equal 1e-3

variable inclination_angle equal {angle}
variable rotation_period equal {rp}
variable particle_insertion_rate equal {insRate}

variable ym1 equal {ym1}
variable ym2 equal {ym2}
variable pr1 equal {pr1}
variable pr2 equal {pr2}
variable cr11 equal {cr11}
variable cr12 equal {cr12}
variable cr21 equal {cr21}
variable cr22 equal {cr22}
variable cf11 equal {cf11}
variable cf12 equal {cf12}
variable cf21 equal {cf21}
variable cf22 equal {cf22}
variable crf11 equal {crf11}
variable crf12 equal {crf12}
variable crf21 equal {crf21}
variable crf22 equal {crf22}


variable particles_to_insert equal {nrParticles}
variable particle_size equal {ps}
variable density equal {density}






  
  
  
  
  